- returns_status = @company.submission_status[:returns] ? "uptodate" : "alert"
- accounts_status = @company.submission_status[:accounts] ? "uptodate" : "alert"
- returns_string = @company.submission_status[:returns] ? "Annual Returns Up-to-Date" : "Annual Returns Overdue" 
- accounts_string = @company.submission_status[:accounts] ? "Annual Accounts Up-to-Date" : "Annual Accounts Overdue" 


.small-12.columns
  %h2
    %b= @company.name.titleize

  %p
    %b Registered Company Number:
    %span{style: "color: #227731; font-weight: bold;"} #{@company.rc_number}
  %p
    A 
    %span{style: "font-weight: bold;"} Private Limited Company 
    incorporated on 


  %p
    Registered Office Address: 
    %span{style: "font-weight: bold;"} #{@company.registered_office_address.titleize}, #{@company.registered_office_city.titleize}, #{@company.registered_office_state.titleize} 

  %hr{style: "border:none; margin-bottom: 2rem;"}

#div-eq{"data-equalize-on" => "medium", "data-equalizer" => ""}
  .medium-4.columns
    %div{"data-equalizer-watch" => ""}

      %hr{style: "border:none; margin-bottom: 1rem;"}
      = link_to "File Annual Returns", filing_annual_path(@company), class: "button btn action #{returns_status}"

      - unless returns_status
        %hr{style: "border:none; margin-bottom: 1rem;"}
        = link_to "Submit Annual Accounts", "#", class: "button btn action #{accounts_status}"


  .medium-4.columns
    .callout{"data-equalizer-watch" => ""}
      %h3{style: "color: #328740;"}
        = fa_icon 'play-circle'
        = returns_string
      Next accounts made up to
      %br
      %b 30 October 2015 
      due by
      %br
      %b 30 October 2016
      %hr{style: "border:none; margin-bottom: 2rem;"}
      Last accounts made up to
      %br
      %b 30 October 2015   

      


  .medium-4.columns
    .callout{"data-equalizer-watch" => ""}
      %h3{style: "color: crimson;"}
        = fa_icon 'exclamation-circle'
        = accounts_string
      Next accounts made up to
      %br
      %b 30 October 2015 
      due by
      %br
      %b 30 October 2016        
      %hr{style: "border:none; margin-bottom: 2rem;"}
      Last accounts made up to
      %br
      %b 30 October 2015       



.small-12.columns{style: "border:none; margin-top: 2rem;"}
  %h3 
    %b Directors and Secretaries

  = render 'directors'

