%h1 Listing payments

%table
  %thead
    %tr
      %th Merchantid
      %th Servicetypeid
      %th Orderid
      %th Payername
      %th Payeremail
      %th Payerphone
      %th Amount
      %th Reference
      %th
      %th
      %th

  %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.merchantId
        %td= payment.serviceTypeId
        %td= payment.orderId
        %td= payment.payerName
        %td= payment.payerEmail
        %td= payment.payerPhone
        %td= payment.amount
        %td= payment.reference
        %td= link_to 'Show', payment
        %td= link_to 'Edit', edit_payment_path(payment)
        %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Payment', new_payment_path
